@import "./utils/variables";

:global {
  * {
    box-sizing: border-box;
  }

  body, html, #root {
    height: 100%;
  }

  body {
    background: $light-gray;
    font-family: Arial, sans-serif;
    margin: 0;
  }
}

.Container {
  margin: 0 auto;
  width: 1240px;
  height: 100%;
}


@media all and (max-width: 1270px) {
  .Container {
    width: 970px;
  }
}

@media all and (max-width: 1000px) {
  .Container {
    width: 768px;
  }
}

@media all and (max-width: 795px) {
  .Container {
    width: 100%;
  }
}