@import "../../utils/variables";

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.noData {
  text-align: center;
  width: 100%;
}

.loadMore {

  text-align: center;

  button {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: $dark-blue;
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }
}